@model Game
@{
    ViewData["Title"] = Model.name;
    var saves = ViewData["saves"] as List<SaveState>;

}

<h3>@Model.name</h3>
<div id="@Model.gameID" class="cont">
    <div id="gameCont">
        <canvas id="canvasOverlay"></canvas>
        <canvas id="gameBody"></canvas>
    </div>
    <div id="storeOverlay">
        <input id="storeButton" type="image" src="~/Games/1/images/UI/shop.png"/>
        <h1>Here's the store overlay. Lol.</h1>
    </div>

    <div id="overlay">
        <div id="launcher">
            <button> New Game</button>

            @if (saves != null)
            {
                @foreach (var save in saves)
                {
                    <button id="@save.saveStateID">Load Save @save.saveStateID</button>
                }
            }
        </div>
        <div class="player_info">
            <span id="lives"></span>
            <span id="gold"></span>
        </div>
        <div id="chat_panel">
            <p id="chat_panel_text">If you can see this, you've done something wrong.</p>
        </div>
    </div>
</div>


@section Scripts
    {
    <script src="~/lib/matter-js/matter.min.js"></script>
    <script type="module" src="@("/Games/" + Model.gameID + "/js/game_controller.js")"></script>


}