@model Game
@{
    ViewData["Title"] = Model.name;
    var saves = ViewData["saves"] as List<SaveState>;
    
}

<h3>@Model.name</h3>
<div id="@Model.gameID" class="cont">
    <canvas id="gameBody"></canvas>
    <div class="canvas">
        <div id="launcher">
            <button> New Game</button>

            @if (saves != null)
            {
                @foreach (var save in saves)
                {
                    <button id="@save.saveStateID">Load Save @save.saveStateID</button>
                }
            }
        </div>
        <div class="player_info">
            <span id="lives"></span>
            <span id="gold"></span>
        </div>
        <div class="information">
            <h2>Player Physics Stats:</h2>
            <ul>
                <li id="position">
                    Position: 0, 0
                </li>
                <li id="inertia">
                    Inertia: 0
                </li>
                <li id="torque">
                    Torque: 0
                </li>
                <li id="velocity">
                    Velocity: 0, 0
                </li>
                <li id="angularSpeed">
                    Angular Speed: 0
                </li>
                <li id="angularVelocity">
                    Angular Velocity: 0
                </li>
            </ul>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/lib/matter-js/matter.min.js"></script>
    <script type="module" src="@("/Games/" + Model.gameID + "/js/game_controller.js")"></script>


}